.basic-container {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px 0px #808080;
    flex-direction: column;
    align-items: center;
}

.nutri-progress {
    width: 75%;
    margin-bottom: 10px;
}

.fcp-content {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress {
    to {
        --progress-value: 75;
    }
}

#circle-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#00ffff calc(var(--progress-value) * 1%), #b3ffff 0);
    animation: progress 1.5s ease forwards;
    margin: 10px;
}

#circle-progress::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress 1.5s 1 forwards;
}

ul {
    list-style-type: none;
}

.month {
    padding: 5px 25px;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #000000;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #ffcc00;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #ffe680;
    margin: 0;
    width: 100%;
    text-align: left;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #ffcc00;
    color: white !important;
}

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

.food-time {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 10%;
    max-width: 10%;
}

.circle-border {
    border-style: solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 0px;
    margin-top: -10px;
}

.timeline-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #ffa500;
    border-top-style: solid;
    border-top-color: #ff9900;
    width: 100%;
    margin-right: 0px;
    cursor: pointer;
}

.food-timeline {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.food-time-img {
    font-size: 82px;
    margin-bottom: 100px;
    margin-top: 20px;
    cursor: default;
}

.food-time-img:hover {
    transform: scale(1.2);
}

.circle-border .doth {
    width: 10%;
    height: 10%;
    padding-top: 0px;
    margin-top: -1px;
}

.timeline-legend h6 {
    margin-top: 10px;
}

@keyframes fillProgress {
    from {
        width: 0%;
    }
}

.animation {
    animation: fillProgress 2s ease forwards;
}

.timeline-button {
    font-size: 180.75%;
    color: orange;
    background-color: #000000;
    border-top: 3px solid #ffa500;
    border-left-style: none;
    border-right-style: none;
}

