/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
main > .container {
    padding: 60px 15px 0;
}

.checkbox-filter {
    padding-left: 30px;
    padding-right: 30px;
}

.aligned-checkbox {
    width: 50%;
}
